body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('img/background.jpg');
}

canvas {
  background-color: black;
  display: block;

}

.hudContainer {

  position: absolute;
  top: 500px;
  height: 168px;
  flex-direction: column-reverse;
  display: flex;

}

.panelBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  border: 2px solid #2c1b0e;

  background-color: sandybrown;

}

.panelBody:hover {
  cursor: pointer;
  background-color: #fbc395;
  transition: ease-in-out 125ms;
}

.panel {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
}

.panelCouple {
  width: 113px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}



.mobileBtn {
  height: 30px;
  width: 30px;
}

.infoBox {
  margin: 30px;
  border: 3px solid black;
  border-color: sandybrown;
  padding: 10px;
  background: #e5893f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fullScreenBtn {
  margin: 30px;
  border: 3px solid black;
  border-color: sandybrown;
  padding: 10px;
  background: #e5893f;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fullScreenBtn:hover {
  cursor: pointer;
  background-color: #f5a35f;
  opacity: 0.7;
  transition: ease-in-out 125ms;
}

.replay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 70px;
  height: 30px;
  margin-top: 300px;
  border: 3px solid black;
  box-shadow: 1px 1px 10px 5px;
  border-color: sandybrown;
  background: #e5893f;
}

.replayDiv {
  display: flex;
  justify-content: center;
  align-items: center;
}

.replay:hover {
  cursor: pointer;
  background: #ffd400;
  border-color: white;
  transition: ease-in-out 225ms;
}

.startScreen {
  position: absolute;
  width: 720px;
  height: 480px;
}

.startBtnDiv {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.startBtn {
  font-size: 20px;
  height: 50px;
  width: 200px;
  font-family: monospace;
  color: black;
  background-color: goldenrod;
}

.startBtn:hover {

  background: #ffd400;
  border-color: white;
  transition: ease-in-out 225ms;
}

.hide {
  display: none;
}


/* Smartphone*/
@media only screen and (max-width: 720px) {
  canvas {
    width: 100%;
  }

  .startScreen {
    width: 100%;
    height: 480px;
  }

  .panelBody {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: 2px solid #e5893f;
    background-color: sandybrown;
  }

  .panel {
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
  }

  .panelCouple {
    width: 113px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }

  .hudContainer {
    position: absolute;
    height: 680px;
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
  }
}


/* Smartphone*/
@media only screen and (max-height: 480px) {
  canvas {
    height: 100vh;
  }
}