body{
    display: flex;
  flex-direction: column;
    align-items: center;
}

canvas{
    background-color: black;
   
}

.tutorialContainer{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.tutorialDiv{
  margin: 5px;
  border: 3px solid black;
  border-color: sandybrown;
  padding: 10px;
}


/* Smartphone*/
@media only screen and (max-width: 720px){
  canvas{
    width:100%;
  }
}

/* Smartphone*/
@media only screen and (max-height: 480px){
  canvas{
   height:100vh;
  }
}

